.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}
.calculator{
  padding: 20px;
  border-radius: 10px;
  background-color: antiquewhite;

}
form input{
  border-color: aqua;
  width: 60px;
  height: 60px;
  font-size: 16px;
  font-weight: bolder;
  margin: 2px;
  border-radius: 10px;
  cursor: pointer;
}
form input[type="button"]:hover{
    background-color: rgb(189, 243, 239);
}
form .display{
   display: flex;
    justify-content: flex-end;
    margin: 5px 0px 15px 0px;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 40px;
    padding: 5px 10px;
   
   
}
 form input.equal{
    width: 120px;
} 